---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/dabrorius/jobless
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1448374931'
      Last-Modified:
      - Thu, 05 Nov 2015 23:36:06 GMT
      Etag:
      - W/"d07d8419c676c456123d8d9ec7eb6ca5"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"id":42043935,"name":"jobless","full_name":"dabrorius/jobless","owner":{"login":"dabrorius","id":690113,"avatar_url":"https://avatars.githubusercontent.com/u/690113?v=3","gravatar_id":"","url":"https://api.github.com/users/dabrorius","html_url":"https://github.com/dabrorius","followers_url":"https://api.github.com/users/dabrorius/followers","following_url":"https://api.github.com/users/dabrorius/following{/other_user}","gists_url":"https://api.github.com/users/dabrorius/gists{/gist_id}","starred_url":"https://api.github.com/users/dabrorius/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dabrorius/subscriptions","organizations_url":"https://api.github.com/users/dabrorius/orgs","repos_url":"https://api.github.com/users/dabrorius/repos","events_url":"https://api.github.com/users/dabrorius/events{/privacy}","received_events_url":"https://api.github.com/users/dabrorius/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/dabrorius/jobless","description":"A
        ruby DSL for generating CVs.","fork":false,"url":"https://api.github.com/repos/dabrorius/jobless","forks_url":"https://api.github.com/repos/dabrorius/jobless/forks","keys_url":"https://api.github.com/repos/dabrorius/jobless/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dabrorius/jobless/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dabrorius/jobless/teams","hooks_url":"https://api.github.com/repos/dabrorius/jobless/hooks","issue_events_url":"https://api.github.com/repos/dabrorius/jobless/issues/events{/number}","events_url":"https://api.github.com/repos/dabrorius/jobless/events","assignees_url":"https://api.github.com/repos/dabrorius/jobless/assignees{/user}","branches_url":"https://api.github.com/repos/dabrorius/jobless/branches{/branch}","tags_url":"https://api.github.com/repos/dabrorius/jobless/tags","blobs_url":"https://api.github.com/repos/dabrorius/jobless/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dabrorius/jobless/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dabrorius/jobless/git/refs{/sha}","trees_url":"https://api.github.com/repos/dabrorius/jobless/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dabrorius/jobless/statuses/{sha}","languages_url":"https://api.github.com/repos/dabrorius/jobless/languages","stargazers_url":"https://api.github.com/repos/dabrorius/jobless/stargazers","contributors_url":"https://api.github.com/repos/dabrorius/jobless/contributors","subscribers_url":"https://api.github.com/repos/dabrorius/jobless/subscribers","subscription_url":"https://api.github.com/repos/dabrorius/jobless/subscription","commits_url":"https://api.github.com/repos/dabrorius/jobless/commits{/sha}","git_commits_url":"https://api.github.com/repos/dabrorius/jobless/git/commits{/sha}","comments_url":"https://api.github.com/repos/dabrorius/jobless/comments{/number}","issue_comment_url":"https://api.github.com/repos/dabrorius/jobless/issues/comments{/number}","contents_url":"https://api.github.com/repos/dabrorius/jobless/contents/{+path}","compare_url":"https://api.github.com/repos/dabrorius/jobless/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dabrorius/jobless/merges","archive_url":"https://api.github.com/repos/dabrorius/jobless/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dabrorius/jobless/downloads","issues_url":"https://api.github.com/repos/dabrorius/jobless/issues{/number}","pulls_url":"https://api.github.com/repos/dabrorius/jobless/pulls{/number}","milestones_url":"https://api.github.com/repos/dabrorius/jobless/milestones{/number}","notifications_url":"https://api.github.com/repos/dabrorius/jobless/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dabrorius/jobless/labels{/name}","releases_url":"https://api.github.com/repos/dabrorius/jobless/releases{/id}","created_at":"2015-09-07T09:28:31Z","updated_at":"2015-11-05T23:36:06Z","pushed_at":"2015-11-10T15:37:30Z","git_url":"git://github.com/dabrorius/jobless.git","ssh_url":"git@github.com:dabrorius/jobless.git","clone_url":"https://github.com/dabrorius/jobless.git","svn_url":"https://github.com/dabrorius/jobless","homepage":"","size":345,"stargazers_count":143,"watchers_count":143,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":12,"mirror_url":null,"open_issues_count":5,"forks":12,"open_issues":5,"watchers":143,"default_branch":"master","network_count":12,"subscribers_count":3}'
  recorded_at: Tue, 24 Nov 2015 14:00:16 GMT
recorded_with: VCR 2.9.3
